.testimonialbox
{
    display: grid;
    grid-template-rows: 30% auto;
    padding-top: 6rem;
    padding-inline: 4rem;
    padding-bottom: 6rem;
    background-color: #F3F2C8;
    /* justify-content: center; */
}
.testimonialbox h1
{
    font-size: 2.5rem;
    width: 65%;
    padding-bottom: 2rem;
}
.testi
{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
/* .testi > *
{
    padding-right: 2rem;
} */





@media(max-width:800px){
    .testimonialbox{
        padding: 40px 10px 200px 10px;
    }

    .testimonialbox h1{
        width: 100%;
        font-size: 36px;
        padding-bottom: 0;
    }
}