:root{
    padding: 0;
    margin: 0;
    --footer--theme: #FE5C46;
    --footer--fontcolor: black;
    --footer--grey: #1E1E1E 50%;
}

.footercontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    background-color: var(--footer--theme);
    padding: 50px 100px 50px 100px;
}

.footerleft{
    color: var(--footer--grey);
}