:root{
    --bs-fontsize: 36px;
    --bs-para: 20px;
    --bs--theme: #F3F2C8;
    --bs--grey: rgba(30,30,30,0.5);
}


.bscontainer{
    background-color: var(--bs--theme);
    padding: 90px 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.bstextcontainer{
    width: 400px;
}
.bstextcontainer h2{
    font-size: var(--bs-fontsize);
    margin-bottom: 5px;
}

.bstextcontainer p{
    font-size: var(--bs-para);
    margin-bottom: 10px;
    color: var(--bs--grey);
    
}

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background:none;
   cursor: pointer;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #FE5C46;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: black;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: black;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #FE5C46;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }

.bscontainercard{

}

.bscontainercard ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.bscontainercard li{
    list-style: none;
    margin-left: 30px;
    margin-right: 30px;
}






/* for 1376px */
@media(max-width: 1368px){
    .bscontainer{
        padding-left: 30px;
        justify-content: start;
    }
    .bstextcontainer{
        width: 250px;
        margin-bottom: 30px;
    }
}

/* for 1200px */
@media(max-width: 1200px){
    .bstextcontainer{
        width: 100%;
        margin-bottom: 30px;
    }
}

/* for 786px */
@media(max-width: 768px){
    .bscontainer{
        justify-content: center;
    }
    .bstextcontainer{
        width: 100%;
        margin-bottom: 30px;
    }
}